// Set some css variables
root {
  --sage #4a634e
  --ash #403635
  --darksilver #49595e
  --copper #a95c42
  --font-family MiloWeb, Verdana, Geneva, sans-serif;
}

// Theme color variables - these are taken from fso-bootstrap
sage = #4a634e
copper = #a95c42
ash = #403635
darksilver = #49595e
coolgray = #e2e9eb
light = #f8f9fa
sand = #f19e1f
bloom = #ef4056

// Set font family
body
  font-family MiloWeb, Verdana, Geneva, sans-serif !important

// Change Heading sizes to match bootstrap
h1, h2, h3, h4, h5, h6
  margin-bottom 0.5rem !important
  font-family inherit !important
  font-weight 500 !important
  line-height 1.2 !important
  color inherit

h1
  font-size 2.5rem !important

h2
  font-size 2rem !important

h3
  font-size 1.75rem !important

h4
  font-size 1.5rem !important

h5
  font-size 1.25rem !important

h6
  font-size 1rem !important

// Search
.search-box
  input
    border-width 3px !important
    border-color darksilver !important
    &:focus
      border-color copper !important
  .suggestion
    .page-title, .header
      color darksilver
    &.focused
      .page-title, .header
        color copper

// Links
.edit-link
  a
    color darksilver !important

.page-nav
  a
    color copper !important

.page
  a
    color copper
    &.header-anchor
      color copper !important

// Inline code blocks
.content
  code
    color copper !important

// Make sure prism.js blocks aren't highlighted the same way as our code blocks are:
.content
  pre, pre[class*="language-"]
    code
      color #fff !important

// Navbar
.navbar
  background-color darksilver !important
  color light !important
  border-bottom none !important
  .site-name
    color light !important
  .links
    background-color transparent !important
    .nav-links
      .nav-item
        .nav-link
          &.router-link-active, &:hover
            color light !important
        .nav-link:not(.external)
          &.router-link-active, &:hover
            border-bottom 3px solid copper !important
      .repo-link
        &:hover
          color copper !important

// Sidebar
.sidebar
  background-color coolgray !important
  .sidebar-links
    .sidebar-link
      &.active
        color copper !important
        border-left-color copper !important
      &:hover
        color copper !important
  // Sidebar nav (in mobile)
  .nav-links
    .nav-item
      .nav-link
        &.router-link-active, &:hover
          color copper !important


// Custom blocks (modified extensively from default)
.custom-block
  border-radius 0.25em
  border-width 1px
  border-style solid
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
  &.tip
    background-color light !important
    border-color sage !important
    .custom-block-title
      color sage !important
  &.warning
    background-color rgba(sand, .1) !important
    border-color sand !important
    color darken(sand, 70%) !important
    .custom-block-title
      color sand !important
  &.danger
    background-color rgba(bloom, .1) !important
    border-color bloom !important
    color darken(bloom, 70%) !important
    .custom-block-title
      color bloom !important

// Make home page action button fit our theme
.home
  .hero
    .action-button
      background-color sage !important
      border-bottom 1px solid sage !important

      &:hover
        background-color sage + 10% !important

// Customize nprogress
#nprogress
  .bar
    background sage !important
