<template>
    <div class="calendar">
        <div class="header">
            <!-- Back -->
            <div class="header__back" type="button" @click.stop="changeMonth(-1)">
                <icon icon="caret-left" />
            </div>
            <div class="header__month" :class="transitionClass"
                 type="button" :aria-pressed="isMonthSelect"
                 @click.stop="toggleMonthSelect">
                {{ months[currentPeriod.month] }}
            </div>
            <div class="header__year" :class="transitionClass"
                 type="button" :aria-pressed="isYearSelect"
                 @click.stop="toggleYearSelect">
                {{ currentPeriod.year }}
            </div>
            <!-- Forward -->
            <div class="header__forward" type="button" @click.stop="changeMonth(1)">
                <icon icon="caret-right" />
            </div>
        </div>
        <div class="calendar-content">
            <!-- Year selection -->
            <div v-if="isYearSelect" class="year-view"></div>
            <!-- Month selection -->
            <div v-else-if="isMonthSelect" class="month-view"></div>
            <!-- Normal Calendar View -->
            <table v-else class="day-view">
                <thead>
                    <tr>
                        <th v-for="weekday in weekdays" :key="weekday">
                            <div>
                                {{ weekday }}
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody :class="transitionClass" ref="calendarDates">
                    <tr v-for="(week, weekIndex) in currentMonth" :key="weekIndex">
                        <td :class="Object.assign(
                                {
                                    selected: day.selected,
                                    selectable: !day.disabled,
                                    disabled: day.disabled,
                                    today: day.today,
                                    outOfRange: day.outOfRange,
                                },
                                isRange ? highlightingClasses(day) : {}
                            )"
                            v-for="day in week" :key="day.key"
                            @click="dateSelect(day)">
                            <div class="cellContent">
                                {{ day.date.getDate() }}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import Icon from './Icon.vue';
import CalendarUtility from '../utils/CalendarUtility';

let calendarUtility = new CalendarUtility();

export default {
    name: "Calendar",
    components: {
        Icon
    },
    props: {
        /**
         * The bound value
         * @type {String}
         * @default ''
         */
        value: {
            type: String,
            default: ''
        },
        /**
         * A function to determine disabled dates
         * @type {Function}
         * @default []
         */
        isDisabledDate: {
            type: Function,
            default: () => false
        },
        weekdays: {
            type: Array,
            default: () => ([
                'Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'
            ])
        },
        months: {
            type: Array,
            default: () => ([
                'January', 'February', 'March', 'April',
                'May', 'June', 'July', 'August',
                'September', 'October', 'November', 'December'
            ])
        },
        dateFormat: {
            type: String,
            default: 'YYYY-MM-DD'
        },
        /**
         * Provide a start and end date. All dates within this range will be highlighted.
         * Primarily for use by the DateRangeInput component.
         */
        highlight: {
            type: Object,
            default: () => {
                return {};
            }
        }
    },
    data () {
        return {
            showMonthSelect: false,
            showYearSelect: false,
            transitionDirection: undefined,
            currentPeriod: this.getCurrentPeriod(this.value)
        };
    },
    computed: {
        isMonthSelect () { 
            return this.showMonthSelect; 
        },
        isYearSelect () { 
            return this.showYearSelect; 
        },
        /**
         * A datetime formatted value
         * @returns {Date} a date object
         */
        selectedValue () {
            // Format if it isn't a blank string
            return this.value
                ? calendarUtility.parseDateFromString(this.value, this.dateFormat)
                : undefined;
        },
        /**
         * Generate the UI for the calendar based on the currently selected month and year
         * @returns {Array} array with arrays of 7 days
         */
        currentMonth () {
            /**
             * Final `day` object looks like:
             * {
             *     date: Date,
             *     key: '',
             *     selected: Boolean,
             *     today: Boolean,
             *     disabled: Boolean,
             *     outOfRange: true / undefined
             * }
             */
            const { year, month } = this.currentPeriod;
            const days = [];
            const today = new Date();
            let date = new Date(year, month, 1);

            // Add the previous month dates to the start of the first week
            const startDay = date.getDay() || 7;
            if (startDay > 1) {
                // Backwards loop!
                for (let i = startDay - 1; i >= 0; i--) {
                    const prevDate = new Date(date);
                    prevDate.setDate(-i);
                    // Append a date previous, noting that it should be grayed out
                    days.push({ date: prevDate, outOfRange: true });
                }
            }

            // Add current days in the month until we have filled the month
            while (date.getMonth() === month) {
                days.push({ date: new Date(date)});
                date.setDate(date.getDate() + 1);
            }

            // Add the next month dates to the end of the last week
            const daysLeft = 7 - days.length % 7;
            for(let i = 1; i <= daysLeft; i++) {
                const nextDate = new Date(date);
                nextDate.setDate(i);
                // Append the next date, noting that it should be grayed out
                days.push({ date: nextDate, outOfRange: true });
            }

            // Fill out the rest of the day objects
            days.forEach(day => {
                day.disabled = this.isDisabledDate(day.date);
                day.today = calendarUtility.isSameDate(day.date, today);
                // Is selected if the date is the same as the selectedValue (i.e. value prop as datetime)
                day.selected = this.selectedValue 
                    ? calendarUtility.isSameDate(day.date, this.selectedValue) 
                    : false;
                day.key = [day.date.getFullYear(), day.date.getMonth() + 1, day.date.getDate()].join('-');
            });

            // Return days as a chunked array of weeks
            return this.groupDaysByWeek(days);
        },
        /**
         * Returns a transition class to animate objects when moving left/right due to month changes
         * @returns {String} a transition css class identifier
         */
        transitionClass () {
            return this.transitionDirection 
                ? `slideTo${this.transitionDirection}` 
                : undefined;
        },
        /**
         * Determines if the calendar is being asked to highlight a range or not
         */
        isRange () {
            return this.highlight !== {} ? true : false;
        },
        /**
         * Return the highlighting range as Date objects
         */
        highlightRange () {
            let start = this.highlight.start 
                ? calendarUtility.parseDateFromString(this.highlight.start, this.dateFormat) 
                : undefined;
            let end = this.highlight.end
                ? calendarUtility.parseDateFromString(this.highlight.end, this.dateFormat)
                : undefined;
            return {
                'start': start,
                'end': end
            };
        }
    },
    watch: {
        // Watch the `value` and make sure the `currentPeriod` changes to reflect it
        value (value) {
            const isValid = value ? Boolean(value) : true;
            if (isValid) {
                // Make sure calendar is showing the correct month
                this.currentPeriod = this.getCurrentPeriod(value);
            }
        },
        // watch the `currentPeriod` and remove the applied transition class after the animation has occurred
        async currentPeriod () {
            if (this.transitionDirection) {
                await new Promise((resolve) => setTimeout(resolve, 500));
                this.transitionDirection = undefined;
            }
        }
    },
    methods: {

        // Event Handling

        /**
         * React to a date selection
         * @param {Object} day a day object
         */
        dateSelect (day) {
            if (!day.disabled) {
                this.$emit('input', calendarUtility.formatDateToString(day.date));
            }
        },

        monthSelect (month) {
            // console.log(month);
        },

        yearSelect (year) {
            // console.log(year);
        },
        /**
         * Use the forward and backward buttons to change the month
         * @param {Number} change the value to increment the month by, default 1 (forward 1 month)
         */
        changeMonth (change = 1) {
            const oldDate = new Date(this.currentPeriod.year, this.currentPeriod.month);
            const newDate = new Date(oldDate.getFullYear(), oldDate.getMonth() + change);
            this.transitionDirection = newDate.getMonth() !== oldDate.getMonth()
                ? (newDate > oldDate ? 'Next' : 'Previous')
                : undefined;
            this.currentPeriod = {
                month: newDate.getMonth(),
                year: newDate.getFullYear()
            };
        },

        toggleMonthSelect () {

        },

        toggleYearSelect () {

        },

        showDateSelect () {

        },

        clear () {
            this.$emit('input', '');
        },

        // Utility Functions

        /**
         * Get the current period from the selected value
         * @param {String} val the return value of the component
         * @returns {Object}
         */
        getCurrentPeriod (val) {
            // Get the date from the value. If date is `''`, it's assumed to be today.
            const date = !val
                ? new Date()
                : calendarUtility.parseDateFromString(val, this.dateFormat);
            return { month: date.getMonth(), year: date.getFullYear() };
        },

        /**
         * Chunk the days in the month by week (i.e. groups of 7)
         * @param {Array} daysArray an array of days visible on a calendar page for a given month
         * @returns {Array} a chunked array
         */
        groupDaysByWeek (daysArray) {
            const daysByWeek = [];

            // Push a smaller array of only 7 days using splice to make a new array
            while (daysArray.length) {
                daysByWeek.push(daysArray.splice(0, 7));
            }

            return daysByWeek;
        },
        /**
         * Return the proper classes for a highlighted date
         * @param {Object} day a day object
         * @returns {Object}
         */
        highlightingClasses (day) {
            return {
                // See if the day is in the highlightRange
                highlighted: day.date >= this.highlightRange.start && day.date <= this.highlightRange.end,
                // If the result is zero, this is the first day
                'highlighted--first': day.date - this.highlightRange.start == 0,
                // If the result is zero, this is the last day
                'highlighted--last': day.date - this.highlightRange.end == 0
            };
        },
    }
};
</script>

<style lang="scss" scoped>
@import "node_modules/bootstrap/scss/_custom.scss";

$selected-color:  #378dbd !default; // Oasis in fso-bs 1.x
$highlight-color: #1e5288 !default; // Azurite in fso-bs 1.x

// Transitions for advancing month to month
@keyframes slideFromLeft {
    from { opacity: 0; transform: translate3d(-0.5em,0,0); }
    to { opacity: 1; transform: translate3d(0,0,0); }
}

@keyframes slideFromRight {
    from { opacity: 0; transform: translate3d(0.5em,0,0); }
    to { opacity: 1; transform: translate3d(0,0,0); }
}

.slideToPrevious {
    animation: slideFromLeft 0.5s;
}

.slideToNext {
    animation: slideFromRight 0.5s;
}

.calendar {
    position: relative;
    display: inline-block;
    padding: 0.25em;
    max-width: 20em;

    font-size: 0.9rem;

    .header {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        padding: 0.5em 0;

        .header__month,
        .header__year,
        .header__back,
        .header__forward {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                background-color: $gray-lighter;
            }
        }

        .header__month,
        .header__year {
            font-weight: $btn-font-weight;
        }

        .header__back,
        .header__forward {
            width: 30px;
        }
    }

    .calendar-content {
        .day-view {
            width: 100%; 
            display: table;
            table-layout: fixed; 
            position: relative; 
            margin: 0;
            z-index: 5;

            tr {
                border: 0;
                background: transparent !important;
            }

            // Week Names
            th {
                div {
                    font-weight: 400;
                    color: $gray-light;
                    margin: 0 auto;
                    text-align: center;
                }
            }

            // Days
            td {
                height: 2.5rem;

                // Format the day cells
                .cellContent {
                    // width: 1.75em;
                    // line-height: 1.75em;
                    // text-align: center;
                    // margin: 0.25em auto;
                    border-radius: 100%;
                    transition: background 0.1s, color 0.1s;
                    min-width: 100%;
                    min-height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                &.selectable {
                    cursor: pointer;
                }

                // Date is not in the current month
                &.outOfRange {
                    color: #c7c7c7;
                }
                
                // Give today a visual indication
                &.today {
                    color: $selected-color;
                }

                // Not selectable dates
                &.disabled {
                    opacity: 0.5;
                }

                // Background highlight, for when a date is a part of a range selection
                &.highlighted {
                    background-color: $highlight-color;
                    color: white;

                    &.highlighted--first {
                        border-top-left-radius: 100%;
                        border-bottom-left-radius: 100%;
                    }

                    &.highlighted--last {
                        border-top-right-radius: 100%;
                        border-bottom-right-radius: 100%;
                    }
                }

                // Selected date
                &.selected {
                    .cellContent {
                        background-color: $selected-color;
                        color: $white;
                    }
                }

                // Hovering indication
                &:hover {
                    .cellContent {
                        background-color: $selected-color;
                        color: $white;
                    }
                }
            }
        }

        .month-view {

        }

        .year-view {

        }
    }
}

</style>
