<template>
    <div class="form-check" :class="[{'disabled': disabled},
                                     {'form-check-inline': inline},
                                     {'has-success': success}, 
                                     {'has-warning': warning}, 
                                     {'has-danger': danger}]">
        <label class="custom-control custom-checkbox">
            <input :id="id" type="checkbox" :disabled="disabled" ref="checkbox" v-bind="$attrs"
                   :checked="checked" @change="update($event.target.checked)"
                   class="custom-control-input" :class="[{'form-control-success': success}, 
                                                         {'form-control-warning': warning}, 
                                                         {'form-control-danger': danger}]">
            {{ label }}
            <span class="custom-control-indicator"></span>
        </label>
        <div v-if="stateEnabled && success" class="form-control-feedback">{{ successMessage }}</div>
        <div v-if="stateEnabled && warning" class="form-control-feedback">{{ warningMessage }}</div>
        <div v-if="stateEnabled && danger" class="form-control-feedback">{{ dangerMessage }}</div>
        <small v-if="isDescription" :id="id + 'Help'"
               class="text-muted" :class="[{'form-text': !inlineDescription}]">
            {{ description }}
        </small>
    </div>
</template>

<script>
import inputMixin from '../mixins/input';

export default {
    name: "CheckBox",
    mixins: [inputMixin],
    inheritAttrs: false,
    model: {
        prop: 'checked',
        event: 'change'
    },
    props: {
        checkedValue: {
            type: Boolean,
            default: null
        },
        checked: {
            type: Boolean,
            default: false
        },
        indeterminate: {
            type: Boolean,
            default: false
        },
        id: {
            type: String,
            required: true
        }
    },
    watch: {
        'indeterminate' () {
            this.setIndeterminate();
        },
    },
    mounted () {
        this.setIndeterminate();
    },
    methods: {
        update: function (val) {
            let value = val;
            if (val === undefined) {
                value = false;
            }
            this.$emit('change', value, this.id);
        },
        /**
         * Set the indeterminate value of the built-in checkbox input.
         */
        setIndeterminate () {
            this.$refs.checkbox.indeterminate = this.indeterminate;
        }
    }
};
</script>
