<template>
    <div role="group" class="btn-group" :class="[btnSize, { 'btn-group-vertical': vertical}]"
         :aria-label="assistiveLabel">
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: "CommandGroup",
    props: {
        vertical: {
            type: Boolean,
            default: false
        },
        assistiveLabel: {
            type: String,
            default: undefined
        },
        size: {
            type: String,
            default: 'normal',
            validator: function (value) {
                return [
                    'large',
                    'normal',
                    'small'
                ].indexOf(value) > -1;
            }
        }
    },
    computed: {
        btnSize: function () {
            if (this.size === 'large') {
                return 'btn-group-lg';
            } else if (this.size === 'small') {
                return 'btn-group-sm';
            } else {
                return '';
            }
        }
    }
};
</script>

