<template>
    <button class="btn" type="button"
            v-bind="$attrs" v-on="$listeners"
            :class="[isOutline + type, btnSize, block ? 'btn-block' : 'btn-flex', { 'active': active }]"
            :disabled="disabled" :aria-pressed="active">
        <icon v-if="icon" :icon="icon" :class="[{'mr-2': label}]"></icon>
        <div v-if="label" class="btn-label">
            {{ label }}
        </div>
    </button>
</template>

<script>
import Icon from './Icon.vue';
import commandMixin from '../mixins/command';

export default {
    name: "Command",
    components: {
        Icon
    },
    mixins: [commandMixin],
    props: {
        block: {
            type: Boolean,
            default: false
        }
    }
};
</script>

<style lang="scss" scoped>
// Normal layout (i.e. not block) needs flex to align properly
.btn-flex {
    display: inline-flex;
    align-items: center;
}
</style>

