<template>
    <div role="group" class="btn-group" :class="[btnSize, {'dropup': dropup}]">
        <button v-if="split" type="button"
                v-bind="$attrs" v-on="$listeners"
                class="btn btn-flex" :class="[isOutline + type, btnSize, { 'active': active }]"
                :disabled="disabled" 
                :aria-pressed="active" :aria-expanded="!disabled && show">
            <icon v-if="icon" :icon="icon" :class="[{'mr-2': label}]" />
            <div class="btn-label">
                {{ label }}
            </div>
        </button>
        <button ref="toggle" type="button" class="btn btn-flex dropdown-toggle"
                :class="[isOutline + type, btnSize, {'dropdown-toggle-split': split }, {'active': show}]" 
                :disabled="disabled" aria-haspopup="true" @click="toggle">
            <icon v-if="!split && icon" :icon="icon" :class="[{'mr-2': label}]" />
            <div v-if="!split" class="btn-label">
                {{ label }}
            </div>
        </button>
        <div v-show="!disabled && show" ref="dropdown" class="command-dropdown__menu">
            <slot></slot>
        </div>
    </div>
</template>

<script>
import Icon from './Icon.vue';
import commandMixin from '../mixins/command';
import clickoutMixin from '../mixins/clickout';
import dropdownMixin from '../mixins/dropdown';

export default {
    name: "CommandDropdown",
    components: {
        Icon
    },
    mixins: [
        commandMixin,
        clickoutMixin,
        dropdownMixin
    ],
    inheritAttrs: false,
    props: {
        // Override Mixin validator to disallow `link`
        type: {
            type: String,
            default: 'secondary',
            validator: function (value) {
                return [
                    'secondary',
                    'success',
                    'warning',
                    'info',
                    'danger',
                    'primary',
                    'uared'
                ].indexOf(value) > -1;
            }
        },
        split: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        btnSize: function () {
            if (this.size === 'large') {
                return 'btn-group-lg';
            } else if (this.size === 'small') {
                return 'btn-group-sm';
            } else {
                return '';
            }
        }
    },
    methods: {
        /**
         * Respond to clicking outside of the component as per the clickout mixin
         */
        onClickOut () {
            this.show = false;
        }
    }
};
</script>

<style lang="scss" scoped>
.btn-flex {
    display: inline-flex;
    align-items: center;
}

.command-dropdown__menu {
    z-index: 1000;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
</style>
