<template>
    <div class="daterange-wrapper">
        <button type="button" :aria-pressed="active" aria-haspopup="true"
                class="btn btn-daterange" :class="[btnSize, { 'active': active }]"
                :disabled="disabled" @click="toggle">
            <!-- Calendar icon -->
            <icon icon="calendar" class="mr-2" />
            <!-- Label -->
            <div class="btn-label">
                {{ label }}
            </div>
            <!-- Caret Icon -->
            <icon v-if="!show"
                  :icon="dropClosedIcon" class="ml-auto" />
            <icon v-else
                  :icon="dropOpenIcon" class="ml-auto" />
        </button>
        <div v-show="!disabled && show" ref="dropdown" class="daterange-menu">
            <div class="daterange-menu__header">
                <div><b>Start:</b> {{ startDate }}</div>
                <div><b>End:</b> {{ endDate }}</div>
            </div>
            <div class="daterange-menu__content">
                <!-- quick pickers -->
                <calendar v-model="startDate" :highlight="highlightedRange" @input="emitResult"></calendar>
                <calendar v-model="endDate" :highlight="highlightedRange" @input="emitResult"></calendar>
            </div>
            <div class="daterange-menu__footer">
                <div class="ml-1 mr-auto font-italic">
                    Select a start date on the left, then an end date on the right.
                </div>
                <command type="warning" size="small" outline
                         label="Clear" @action="clear" />
                <command type="secondary" size="small" class="ml-1"
                         label="Close" @action="close" />
            </div>
        </div>
    </div>
</template>

<script>
import uuid from 'uuid/v4';
import moment from 'moment';
import Command from './Command.vue';
import Icon from './Icon.vue';
import clickoutMixin from '../mixins/clickout';
import dropdownMixin from '../mixins/dropdown';

export default {
    name: "DateRangeInput",
    components: {
        Command,
        Icon
    },
    mixins: [
        clickoutMixin,
        dropdownMixin
    ],
    props: {
        value: {
            type: Object,
            default: () => {
                return { start: '', end: '' };
            }
        },
        dateFormat: {
            type: String,
            default: 'YYYY-MM-DD'
        },
        /**
         * Whether to show dates via moment.js or as raw strings
         * @prop {Boolean} true use moment.js to humanize dates
         */
        humanize: {
            type: Boolean,
            default: true
        },
        // Input-related properties
        placeholder: {
            type: String,
            default: ''
        },
        active: {
            type: Boolean,
            default: false
        },
        disabled: {
            type: Boolean,
            default: false
        },
        size: {
            type: String,
            default: 'normal',
            validator: function (value) {
                return [
                    'large',
                    'normal',
                    'small'
                ].indexOf(value) > -1;
            }
        },
    },
    data () {
        return {
            startDate: this.value.start,
            endDate: this.value.end,
            highlightedRange: {}
        };
    },
    computed: {
        id () {
            return `daterange-${uuid()}`;
        },
        btnSize: function () {
            if (this.size === 'large') {
                return 'btn-lg';
            } else if (this.size === 'small') {
                return 'btn-sm';
            } else {
                return '';
            }
        },
        /**
         * If both start and end are `''`, return the `placeholder`, otherwise,
         * return the humanized or straight value, depending on the `humanize`
         * property. This also ensures moment isn't run if the value is `''`
         */
        label () {
            const start = (this.humanize && this.startDate !== undefined)
                ? moment(this.startDate, 'YYYY-MM-DD').format('MMM Do, YYYY')
                : this.startDate;
            const end = (this.humanize && this.endDate !== undefined)
                ? moment(this.endDate, 'YYYY-MM-DD').format('MMM Do, YYYY')
                : this.endDate;
            return (start !== undefined && end !== undefined)
                ? `${start} - ${end}`
                : this.placeholder;
        },
        /**
         * Return the right caret for the dropdown when, depending on the `dropup` property
         */
        dropClosedIcon () {
            return this.dropup
                ? 'caret-up'
                : 'caret-down';
        },
        /**
         * Return the right caret for the dropdown when open, depending on the `dropup` property
         */
        dropOpenIcon () {
            return this.dropup
                ? 'caret-down'
                : 'caret-up';
        },
        /**
         * Whether both a start and end value have been selected or not
         */
        bothValuesSelected () {
            return this.startDate && this.endDate;
        }
    },
    watch: {
        startDate: 'highlight',
        endDate: 'highlight'
    },
    methods: {
        /**
         * Highlight the dates between the start and end in the calendar 
         * when a range is selected.
         */
        highlight () {
            if (!this.bothValuesSelected) return;
            this.highlightedRange = { start: this.startDate, end: this.endDate };
        },

        // Event Handlers

        /**
         * Return the selected date range
         */
        emitResult () {
            this.$emit('input', { start: this.startDate, end: this.endDate });
        },
        /**
         * Clear the calendars and reset back to nothing
         */
        clear () {
            this.startDate = undefined;
            this.endDate = undefined;
            this.highlightedRange = {};
        },
        /**
         * close the dropdown on clicking `cancel`
         */
        close () {
            this.show = false;
        },
        /**
         * Respond to clicking outside of the component as per the clickout mixin
         */
        onClickOut () {
            this.show = false;
        }
    }
};
</script>

<style lang="scss" scoped>
@import "node_modules/bootstrap/scss/_custom.scss";
@import "node_modules/bootstrap/scss/_mixins.scss";

.btn-daterange {
    display: inline-flex;
    width: 100%;
    flex: 1 1 auto !important;
    align-items: center;
    // Create a button variant that is more input-like
    @include button-variant($input-color, $input-bg, $input-border-color);
}

.daterange-wrapper {
    flex: 1 1 auto;
    width: 100%;
}

.daterange-menu {
    z-index: 1000;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0;
    // font-size: 1rem;
    color: #292b2c;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;

    .daterange-menu__header {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
    }

    .daterange-menu__content {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-start;

        .calendar {
            width: 320px;
        }
    }

    .daterange-menu__footer {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0 0.5em;
    }
}

</style>
