<template>
    <div>
        <text-box :value="inputValue" @input="updateFromInput" id="temp"
                  @focus="showCalendar" @click="showCalendar" />
        <div v-if="show">
            <calendar :value="selectedValue" @input="update" />
        </div>
    </div>
</template>

<script>
// TODO: Lets dump the class and just make CalendarUtility a bunch of helper functions instead
import CalendarUtility from '../utils/CalendarUtility';

let calendarUtility = new CalendarUtility();

export default {
    name: "DateInput",
    props: {
        value: {
            type: String,
            default: ''
        }
    },
    data () {
        return {
            inputValue: this.value,
            selectedValue: this.value,
            show: false
        };
    },
    methods: {
        updateFromInput (val) {
            // TODO: remove the format bit once the class can handle this
            const inputVal = calendarUtility.parseDateFromString(val, 'YYYY-MM-DD');
            this.inputValue = val;
            this.update(calendarUtility.formatDateToString(inputVal, 'YYYY-MM-DD'));
        },
        updateFromCalendar (val) {
            this.selectedValue = val;
            this.update(this.selectedValue);
            if (this.show === true) {
                this.show = false;
            }
        },
        update (val) {
            this.$emit('input', val);
        },
        showCalendar () {
            this.show = true;
        }
    }
};
</script>

<style lang="scss" scoped>

</style>
