<template>
    <footer class="footer" :class="background">
        <div class="footer-section">
            <div class="footer-logo">
                <a href="http://www.fso.arizona.edu">
                    <img alt="Financial Services Office"
                         src="https://assets.cdn.fso.arizona.edu/UA_FSO_Alternate.svg">
                </a>
            </div>
            <div class="footer-links">
                <a href="http://portal.fso.arizona.edu/about">
                    About
                </a>
                <a href="http://portal.fso.arizona.edu">
                    Portal
                </a>
                <a href="http://ubet.arizona.edu/business-calendar?tid[0]=25">
                    FSO Calendar
                </a>
                <a href="http://www.arizona.edu/information-security-privacy">
                    Security &amp; Privacy
                </a>
                <a href="http://www.arizona.edu/copyright">
                    Copyright
                </a>
            </div>
        </div>
        <hr class="hr-dark"> 
        <div class="footer-section footer-section__secondary">
            <p>Copyright 2018 © Arizona Board of Regents</p>
            <p class="divider">
                |
            </p>
            <p>FSO Information Technology</p>
            <p class="divider">
                |
            </p>
            <p>
                Need help? 
                <a :href="'mailto:support@fso.arizona.edu?subject='+ appName + ' support request'">
                    Contact us!
                </a> 
            </p>
        </div>
    </footer>   
</template>

<script>
export default {
    name: "FsoFooter",
    props: {
        /**
         * Set the application name
         * @prop {String} appName
         */
        appName: {
            type: String,
            required: true
        },
        /**
         * Set the background css class
         * @prop {String} background
         */
        background: {
            type: String,
            default: 'bg-cool-gray'
        }
    }
};
</script>

<style lang="scss" scoped>
// TODO: this can be removed with FSO Bootstrap 1.x
.bg-cool-gray {
    background-color: #e2e9eb;
}

$breakpoint-md: 840px;
$breakpoint-sm: 520px;

.footer {
    flex: none;
    display: block;
    font-size: 85%;
    line-height: 85%;
    width: 100%;
    padding: 0 5%;

    // Make links use UA Red
    a {
        font-weight: 500;
        color: #464a4c;
        text-align: center;

        &:hover, &:focus {
            color: #ab0520;
        }
    }

    // Reduce the footprint of p elements
    p {
        margin-bottom: 0;
        text-align: center;
    }

    .hr-dark {
        margin: 4.5px auto;
    }
}

.footer-section {
    display: flex;
    flex: auto;
    flex-direction: row;
    margin: 1rem 0;

    @media (max-width: $breakpoint-md) {
        flex-direction: column;
    }

    &.footer-section__secondary {
        align-items: center;
        justify-content: center;

        @media (max-width: $breakpoint-md) {
            > p {
                padding: 0.25rem 0;
            }
        }

        > .divider {
            margin: 0 1rem;

            @media (max-width: $breakpoint-md) {
                display: none;
            }
        }

        p a {
            margin: 0;
        }
    }
}

.footer-logo {
    width: 300px;
    margin-right: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
    align-self: flex-start;
    /* Fix for IE <= 11 on Windows 8 or older, not necessary, but prevents odd styling */
    max-height: 45px;

    @media (max-width: $breakpoint-md) {
        align-self: center;
        margin-bottom: 1rem;
    }

    @media (max-width: $breakpoint-sm) {
        width: 230px;
        /* Fix for IE <= 11 on Windows 8 or older, not necessary, but prevents odd styling */
        max-height: 35px;
    }
}

.footer-links {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: $breakpoint-md) {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    @media (max-width: $breakpoint-sm) {
        flex-direction: column;
    }

    > a {
        margin: 0 1rem;

        @media (max-width: $breakpoint-md) {
            margin: 0.25rem 1.25rem;
        }

        @media (max-width: $breakpoint-sm) {
            margin: 0.25rem 0 !important;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
</style>
