<template>
    <i :class="getClasses" aria-hidden="true"></i>
</template>

<script>
export default {
    name: "Icon",
    props: {
        icon: {
            type: String,
            required: true
        },
        size: {
            type: String,
            default: undefined,
            validator: function (value) {
                return [
                    'large',
                    '2x',
                    '3x',
                    '4x',
                    '5x'
                ].indexOf(value) > -1;
            }
        },
        fixedWidth: {
            type: Boolean,
            default: false
        },
        isInList: {
            type: Boolean,
            default: false
        },
        pull: {
            type: String,
            default: undefined,
            validator: function (value) {
                return [
                    'left',
                    'right'
                ].indexOf(value > -1);
            }
        },
        bordered: {
            type: Boolean,
            default: false
        },
        animation: {
            type: String,
            default: undefined,
            validator: function (value) {
                return [
                    'pulse',
                    'spin'
                ].indexOf(value > -1);
            }
        },
        rotate: {
            type: String,
            default: undefined,
            validator: function (value) {
                return [
                    '90',
                    '180',
                    '270'
                ].indexOf(value > -1);
            }
        },
        flip: {
            type: String,
            default: undefined,
            validator: function (value) {
                return [
                    'vertical',
                    'horizontal'
                ].indexOf(value > -1);
            }
        }
    },
    computed: {
        getClasses: function () {
            let result = [
                'fa',
                'fa-' + this.icon
            ];

            const size = this.getSize();
            if (size) result.push(size);

            if (this.fixedWidth !== false) result.push('fa-fw');
            if (this.isInList !== false) result.push('fa-li');
            if (this.bordered !== false) result.push('fa-border');
            if (this.pull) result.push('fa-pull-' + this.pull);
            if (this.animation) result.push('fa-' + this.animation);
            if (this.rotate) result.push('fa-rotate-' + this.rotate);
            if (this.flip) result.push('fa-flip-' + this.flip);
            
            return result;
        }
    },
    methods: {
        getSize () {
            let result;
            if (this.size !== undefined) {
                this.size == 'large'
                    ? result = 'fa-lg'
                    : result = 'fa-' + this.size;
            }
            return result;
        }
    }
};
</script>
