<template>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" @click="toggle"
           aria-haspopup="true" :aria-expanded="show">
            {{ label }}
        </a>
        <div ref="dropdown" v-show="show" 
             class="dropdown-menu"
             :class="[
                 {'dropdown-menu--show': show},
                 themeClass]">
            <slot></slot>
        </div>
    </div>
</template>

<script>
import dropdownMixin from '../mixins/dropdown';
import clickoutMixin from '../mixins/clickout';

export default {
    name: "NavbarItemDropdown",
    mixins: [
        dropdownMixin,
        clickoutMixin
    ],
    props: {
        /**
         * Label the dropdown link
         * @prop {String} label
         */
        label: {
            type: String,
            default: ''
        },
        /**
         * Define the theme color
         * @prop {String} theme 
         */
        theme: {
            type: String,
            default: 'light',
            validator: function (value) {
                return [
                    'light',
                    'dark',
                    'custom'
                ].indexOf(value) > -1;
            }
        },
        /**
         * Define a custom theme class selector for the component to use
         * @prop {String} customThemeClass
         */
        customThemeClass: {
            type: String,
            default: ''
        },
    },
    computed: {
        themeClass () {
            if (this.theme === 'light') {
                return 'dropdown-menu__light';
            } else if (this.theme === 'dark') {
                return 'dropdown-menu__dark';
            } else if (this.theme === 'custom') {
                return this.customThemeClass;
            } else {
                return undefined;
            }
        }
    },
    methods: {
        /**
         * Respond to clicking outside of the component as per the clickout mixin
         */
        onClickOut () {
            this.show = false;
        }
    }
};
</script>

<style lang="scss" scoped>
@import "node_modules/bootstrap/scss/_custom.scss";

.dropdown a {
    cursor: pointer;
}

.dropdown-menu--show {
    display: block !important;
}

/* Make slight changes to the default theme to make it more in-line with the navbar light theme */
.dropdown-menu__light {
    background-color: #f8f9fa !important;

    .dropdown-item {

        &:hover {
            background-color: darken(#f8f9fa, 10%);
        }
    }
}

/* Make significant chagnes to make it match the dark navbar theme */
.dropdown-menu__dark {
    background-color: #343a40 !important;
    border-color: $gray-light;

    .dropdown-item {
        color: #fff;

        &:hover {
            background-color: lighten(#343a40, 10%);
        }
    }

    .dropdown-divider {
        background-color: $gray-light;
    }

    .dropdown-header {
        background-color: lighten($gray-light, 5%);
    }
    
}
</style>
