<script>
export default {
    name: "NavbarBrand",
    props: {
        /**
         * Define the application name. Defaults to `''`, for no title.
         * @prop {String} title
         */
        title: {
            type: String,
            default: ''
        },
        /**
         * Define the link for the title and icon. Defaults to `/`
         * @prop {String} to
         */
        to: {
            type: String,
            default: '/'
        }
    },
    computed: {
        hasTitle () { return this.title !== '' || false; }
    },
    render (h) {
        let title = this.hasTitle
            ? h('span', this.title)
            : undefined;

        return h(
            'a', {
                class: ['navbar-brand'],
                attrs: {
                    href: this.to
                }
            },
            [
                this.$slots.default,
                title
            ]
        );
    }
};
</script>

<style lang="scss" scoped>
.navbar-brand {
    display: inline-block;
    padding-top: 0.29375rem;
    padding-bottom: 0.29375rem;
    margin-right: 1rem;
    font-size: 1.375rem;
    line-height: inherit;
    white-space: nowrap;

    span {
        margin-left: 0.25em;
    }
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}
</style>
