<script>
export default {
    name: "NavbarText",
    functional: true,
    render (h, context) {
        return h(
            'span', {
                class: ['navbar-text'],
                ...context.data
            },
            context.children
        );
    }
};
</script>

<style lang="scss" scoped>
.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
</style>
