<template>
    <div class="nav-item">
        <router-link v-if="!isDisabled" class="nav-link"
                     :to="to" :replace="replace" :append="append"
                     :tag="tag" :exact="exact" active-class="active">
            <slot></slot>
        </router-link>
        <!-- Render an unclickable <a> element if the component is disabled -->
        <a v-else class="nav-link disabled" disabled>
            <slot></slot>
        </a>
    </div>
</template>

<script>
export default {
    name: "NavbarItem",
    props: {
        /**
         * The route to navigate to
         * @prop {String} to
         */
        to: {
            type: String,
            required: true
        },
        /**
         * Nuke browser history when navigating, defaults to false
         * @prop {Boolean} replace
         */
        replace: {
            type: Boolean,
            default: false
        },
        /**
         * Indicate that the `to` should be appended to the previous route instead of
         * replacing (the normal behavior)
         * @prop {Boolean} append
         */
        append: {
            type: Boolean,
            default: false
        },
        /**
         * Define the html tag that the router-link should render as. Defaults to `a`.
         * @prop {String} tag
         */
        tag: {
            type: String,
            default: 'a'
        },
        /**
         * Force exact matching to show the link's active class
         * @prop {Boolean} exact
         */
        exact: {
            type: Boolean,
            default: false
        },
        /**
         * Disable clicking this navbar-item
         * @prop {Boolean} disable
         */
        disable: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        isDisabled () {
            return this.disable;
        }
    }
};
</script>
