<script>
import eventBus from '../utils/navbarEventBus';

export default {
    name: "NavbarCollapse",
    props: {
        /**
         * An identifier for a `NavbarToggle` to target
         * @prop {String} id
         */
        id: {
            type: String,
            required: true
        }
    },
    data () {
        return {
            collapsed: true
        };
    },
    computed: {
        /**
         * Is the collapse collapsed?
         */
        collapseStyle () {
            return this.collapsed
                ? { display: 'none' }
                : { display: 'flex' };
        }
    },
    watch: {
        collapsed (val) {
            if (val) {
                this.$emit('shown', this.id);
            } else if (!val) {
                this.$emit('hidden', this.id);
            }
        }
    },
    mounted () {
        // Respond to external triggers
        let vm = this;
        eventBus.$on('navbar::toggle', function (id) {
            if (vm.id === id) {
                vm.toggle();
            }
        });
    },
    methods: {
        /**
         * Toggle the collapse visible or hidden
         */
        toggle () {
            this.collapsed = !this.collapsed;
        },
        show () {
            if (this.collapsed !== true) {
                this.collapsed = true;
            }
        },
        hide () {
            if (this.collapsed !== false) {
                this.collapsed = false;
            }
        }
    },
    render (h) {
        return h(
            'div', {
                class: ['collapse', 'navbar-collapse'],
                style: this.collapseStyle,
                on: {
                    click: this.toggle
                }
            },
            this.$slots.default
        );
    }
};
</script>

<style lang="scss" scoped>
// Should be able to remove this with BS 4.1.x
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
</style>
