<script>
import eventBus from '../utils/navbarEventBus';

export default {
    name: "NavbarToggler",
    props: {
        /**
         * The id of a `NavbarCollapse` to toggle
         */
        target: {
            type: String,
            required: true
        }
    },
    methods: {
        /**
         * Send a toggle emit to be caught by the target
         */
        toggle () {
            eventBus.$emit('navbar::toggle', this.target);
        }
    },
    render (h) {
        return h(
            'button', {
                class: ['navbar-toggler'],
                attrs: { 
                    type: 'button', 
                    ariaControls: this.target 
                },
                on: { 
                    click: this.toggle 
                }
            },
            [ 
                h('i', {
                    class: ['fa', 'fa-bars', 'navbar-toggler__icon'],
                    attrs: { ariaHidden: true }
                })
            ]
        );
    }
};
</script>

<style lang="scss" scoped>
/* Customize the class for our needs */
.navbar-toggler {
    align-self: center;
    border: none !important;
    padding: 0;

    .navbar-toggler__icon {
        vertical-align: middle;
    }
}
</style>
