<template>
    <transition :name="animation ? 'bs-popover-transition--fade' : ''"
                @before-enter="$emit('show') && $emit('visibilityupdated', true)"
                @after-enter="$emit('shown')"
                @before-leave="$emit('hide') && $emit('visibilityupdated', false)"
                @after-leave="$emit('hidden')">
        <div class="bs-popover" :class="placementClass"
             v-on="$listeners"
             v-bind="$attrs"
             v-show="isVisible"
             :aria-hidden="!isVisible"
             role="tooltip">
            <div ref="arrow" 
                 class="arrow"></div>
            <slot name="title">
                <h3 v-if="showTitle" 
                    class="bs-popover-header">
                    {{ title }}
                </h3>
            </slot>
            <slot>
                <div class="bs-popover-body">
                    {{ content }}
                </div>
            </slot>
        </div>
    </transition>
</template>

<script>
import Popper from 'popper.js';
import {
    isElement,
    isObject,
    isString,
    getById,
    sleep
} from '../utils/helpers';

// TODO:
// - implement clickout mixin when in click mode?

export default {
    name: "Popover",
    inheritAttrs: false,
    model: {
        prop: 'visible',
        event: 'visibilityupdated'
    },
    props: {
        /** 
         * Turn off the animation
         * @prop {Boolean} animation
         */
        animation: {
            type: Boolean,
            default: true
        },
        /**
         * Explicitely set the container, otherwise it will default to body
         * @prop {String} container
         */
        container: {
            type: String,
            default: 'body'
        },
        /**
         * Set the content
         * @prop {String} content
         */
        content: {
            type: String,
            default: ''
        },
        /**
         * Define a delay, either for both open and close (a Number),
         * or seperately for each (an object: `{ start: 0, end: 0 }`)
         * delay is defined in milliseconds
         * @prop {(Number|Object)} delay
         */
        delay: {
            type: [Number, Object],
            default: 0
        },
        /**
         * Disable the popover
         * @prop {Boolean} disabled
         */
        disabled: {
            type: Boolean,
            default: false
        },
        /**
         * Enable or disable flipping on its axis if space disappears
         * @prop {Boolean} disableFlip
         */
        disableFlip: {
            type: Boolean,
            default: false
        },
        /**
         * Define an offset for rendering the dropdown
         * @prop {(Number|String)} offset
         */
        offset: {
            type: [Number, String],
            default: undefined
        },
        /**
         * Set the initial render placement. The default, `auto` will
         * render in a predeterimined order based on the content
         * around the target element
         * @prop {String} placement
         */
        placement: {
            type: String,
            default: 'auto',
            validator (value) {
                return [
                    'auto',
                    'left',
                    'left-start',
                    'left-end',
                    'top',
                    'top-start',
                    'top-end',
                    'right',
                    'right-start',
                    'right-end',
                    'bottom',
                    'bottom-start',
                    'bottom-end'
                ].indexOf(value) > -1;
            }
        },
        /**
         * Set the target element, which the popover will render from
         * based on the trigger type
         * @prop {(String|Object|window.Element} target
         */
        target: {
            type: [String, Object, window.Element],
            required: true
        },
        /**
         * Set the title. Leave blank to hide the title area.
         * @prop {String} title
         */
        title: {
            type: String,
            default: ''
        },
        /**
         * Set trigger that reveals the popover
         * multiple options can be passed in seperated by a space
         * 'none` is mutually exclusive, only allows popover to be shown
         * via the v-model (visible) prop
         * @prop {String} trigger
         */
        trigger: {
            type: String,
            default: 'none',
            // TODO: here's probably a way better way to do this...
            validator (value) {
                return [
                    'click',
                    'click hover',
                    'click focus',
                    'click focus hover',
                    'click hover focus',
                    'hover',
                    'hover click',
                    'hover focus',
                    'hover click focus',
                    'hover focus click',
                    'focus',
                    'focus click',
                    'focus hover',
                    'focus click hover',
                    'focus hover click',
                    'none'
                ].indexOf(value) > -1;
            }
        },
        /**
         * Set the popover visible
         * @prop {Boolean} visible
         */
        visible: {
            type: Boolean,
            default: false
        },
    },
    data () {
        return {
            isVisible: this.visible,
            currentTargetElement: null,
            currentPlacement: this.placement,
            currentContainer: ''
        };
    },
    computed: {
        /**
         * Compute the class for displaying the proper placement
         * @returns {String}
         */
        placementClass () {
            // Strip the variation from the placement
            let [ placement ] = this.currentPlacement.split(/-/);
            return `bs-popover-${placement}`;
        },
        /**
         * Compute whether the title element should be rendered
         * @returns {Boolean}
         */
        showTitle () {
            return this.title !== '';
        },
        /**
         * Build a more usable representation of the delay prop
         * @returns {Object}
         */
        delayConfig () {
            return isObject(this.delay) 
                ? this.delay 
                : {
                    start: this.delay,
                    end: this.delay
                };
        },
        /**
         * Build a list of triggerable options to register as listeners
         * @returns {Object}
         */
        listeners () {
            const listeners = {};
            
            this.trigger.split(/\s+/).forEach(t => {
                switch (t) {
                case 'click':
                    listeners.click = this.toggle;
                    break;
                case 'hover':
                    listeners.mouseenter = this.show;
                    listeners.touchstart = this.show;
                    listeners.mouseleave = this.hide;
                    listeners.touchend = this.hide;
                    break;
                case 'focus':
                    listeners.focus = this.show;
                    listeners.blur = this.hide;
                    break;
                // case `none`
                default:
                }
            });

            return listeners;
        }
    },
    watch: {
        // Toggle hiding/showing as needed
        visible (val) {
            // Trigger the proper event
            val ? this.show() : this.hide();
        },
        // React to changes in the container prop
        container () {
            this.resetContainer();
            this.setContainer();
        },
        // React to changes in the target prop
        target () {
            this.resetTarget();
            this.setTarget();
        }
    },
    created () {
        // Set initial placement
        this.currentPlacement = this.placement;
        // Non-reactive property to hold popover config callback
        this._popover = null;
    },
    mounted () {
        this.setContainer();
        this.setTarget();

        // Build the popover properly if `visible` is true on render
        if (this.isVisible) {
            this.show();
        }
    },
    updated () {
        this.update();
    },
    beforeDestroy () {
        this.destroyPopover();
        this.resetContainer();
        this.resetTarget();
    },
    methods: {
        /**
         * Toggle the popovers visibility
         */
        toggle () {
            this.isVisible
                ? this.hide()
                : this.show();
        },
        /**
         * Show the popover
         */
        async show () {
            // Don't do anything if this is disabled or already visible
            if (this.disabled || this.isVisible) return;

            // Create if we have a target
            if (this.currentTargetElement) {
                this.createPopover();
            }

            // Handle any delay set up
            if (this.delayConfig.start > 0) await sleep(this.delayConfig.start);

            this.isVisible = true;
        },
        /**
         * Hide the popover and handle garbage collection
         */
        async hide () {
            // Don't do anything if this is disabled or already hidden
            if (this.disabled || !this.isVisible) return;

            // Make sure the _popper instance is destroyed after it's hidden
            this.$once('hidden', this.destroyPopover);

            // Handle any delay set up
            if (this.delayConfig.end > 0) await sleep(this.delayConfig.end);

            this.isVisible = false;
        },
        /**
         * Create the popover
         */
        createPopover () {
            if (this.currentTargetElement) {
                this._popover = new Popper(
                    this.currentTargetElement, // Target element
                    this.$el, // The popover
                    {
                        placement: this.currentPlacement,
                        modifiers: {
                            offset: {
                                offset: this.offset || 0
                            },
                            flip: {
                                enabled: !this.disableFlip
                            },
                            arrow: {
                                element: this.$refs.arrow
                            }
                        },
                        onCreate: (data) => {
                            this.currentPlacement = data.placement;
                        },
                        onUpdate: (data) => {
                            this.currentPlacement = data.placement;
                        }
                    });
            }
        },
        /**
         * Destroy the popover
         */
        destroyPopover () {
            if (this._popover) {
                this._popover.destroy();
                this._popover = null;
            }
        },
        /**
         * Render the popover html in the specified location of the page, by default it
         * will render in the body unless the `container` prop is set otherwise.
         */
        setContainer () {
            const { $el } = this;
            let currentContainer = this.container;
            if (isString(this.container)) {
                currentContainer = $el.ownerDocument.querySelector(this.container);
            }
            if (currentContainer) {
                this._initialParentElement = $el.parentElement;
                this._initialNextElementSibling = $el.nextElementSibling;
                this.currentContainer = currentContainer;
                currentContainer.appendChild($el);
            }
        },
        /**
         * Handle selecting the correct target for the popover to attach to, and if
         * any listeners exist, set those
         */
        setTarget () {
            let target = this.target;

            // Figure out what the target is
            if (isString(target)) {
                // assume the string is an id
                target = getById(target);
            } else if (isObject(target) && isElement(target.$el)) {
                // Component reference
                target = target.$el;
            }

            if (target) {
                for (let event in this.listeners) {
                    target.addEventListener(event, this.listeners[event]);
                }
                this.currentTargetElement = target;
            }
        },
        /**
         * Reset the render location upon destruction
         */
        resetContainer () {
            if (this._initialParentElement) {
                this._initialParentElement.insertBefore(this.$el, this._initialNextElementSibling);
            }   
        },
        /**
         * Reset the target element upon destruction and remove any listeners
         */
        resetTarget () {
            if (this.currentTargetElement) {
                this.currentTargetElement = null;
            }
        },
        /**
         * Used by the directive to trigger updates
         */
        update () {
            if (this._popover) {
                this._popover.scheduleUpdate();
            }
        }
    }
};

</script>

<style lang="scss">

// // Make sure it renders on top of everything.
// .drop-z-boost {
//     // German man on autobahn: "DROP Z BOOST Hanz!"
//      z-index: 1060 !important;
// }

.bs-popover-transition--fade-enter-active,
.bs-popover-transition--fade-leave-active {
  transition: opacity .15s;
}

.bs-popover-transition--fade-enter,
.bs-popover-transition--fade-leave-to {
  opacity: 0;
}

// These bootstrap 4.3.1 styles are included and can be removed
// Once Vueoom updates to fso-bootstrap 1.x

.bs-popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  max-width: 276px;
  font-family: MiloWeb, Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.bs-popover .arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.3rem;
}

.bs-popover .arrow::before, .bs-popover .arrow::after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-popover-top, .bs-popover-auto[x-placement^="top"] {
  margin-bottom: 0.5rem;
}

.bs-popover-top .arrow, .bs-popover-auto[x-placement^="top"] .arrow {
  bottom: calc((0.5rem + 1px) * -1);
}

.bs-popover-top .arrow::before, .bs-popover-auto[x-placement^="top"] .arrow::before,
.bs-popover-top .arrow::after,
.bs-popover-auto[x-placement^="top"] .arrow::after {
  border-width: 0.5rem 0.5rem 0;
}

.bs-popover-top .arrow::before, .bs-popover-auto[x-placement^="top"] .arrow::before {
  bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.25);
}


.bs-popover-top .arrow::after,
.bs-popover-auto[x-placement^="top"] .arrow::after {
  bottom: 1px;
  border-top-color: #fff;
}

.bs-popover-right, .bs-popover-auto[x-placement^="right"] {
  margin-left: 0.5rem;
}

.bs-popover-right .arrow, .bs-popover-auto[x-placement^="right"] .arrow {
  left: calc((0.5rem + 1px) * -1);
  width: 0.5rem;
  height: 1rem;
  margin: 0.3rem 0;
}

.bs-popover-right .arrow::before, .bs-popover-auto[x-placement^="right"] .arrow::before,
.bs-popover-right .arrow::after,
.bs-popover-auto[x-placement^="right"] .arrow::after {
  border-width: 0.5rem 0.5rem 0.5rem 0;
}

.bs-popover-right .arrow::before, .bs-popover-auto[x-placement^="right"] .arrow::before {
  left: 0;
  border-right-color: rgba(0, 0, 0, 0.25);
}


.bs-popover-right .arrow::after,
.bs-popover-auto[x-placement^="right"] .arrow::after {
  left: 1px;
  border-right-color: #fff;
}

.bs-popover-bottom, .bs-popover-auto[x-placement^="bottom"] {
  margin-top: 0.5rem;
}

.bs-popover-bottom .arrow, .bs-popover-auto[x-placement^="bottom"] .arrow {
  top: calc((0.5rem + 1px) * -1);
}

.bs-popover-bottom .arrow::before, .bs-popover-auto[x-placement^="bottom"] .arrow::before,
.bs-popover-bottom .arrow::after,
.bs-popover-auto[x-placement^="bottom"] .arrow::after {
  border-width: 0 0.5rem 0.5rem 0.5rem;
}

.bs-popover-bottom .arrow::before, .bs-popover-auto[x-placement^="bottom"] .arrow::before {
  top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}


.bs-popover-bottom .arrow::after,
.bs-popover-auto[x-placement^="bottom"] .arrow::after {
  top: 1px;
  border-bottom-color: #fff;
}

.bs-popover-bottom .bs-popover-header::before, .bs-popover-auto[x-placement^="bottom"] .bs-popover-header::before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 1rem;
  margin-left: -0.5rem;
  content: "";
  border-bottom: 1px solid #f7f7f7;
}

.bs-popover-left, .bs-popover-auto[x-placement^="left"] {
  margin-right: 0.5rem;
}

.bs-popover-left .arrow, .bs-popover-auto[x-placement^="left"] .arrow {
  right: calc((0.5rem + 1px) * -1);
  width: 0.5rem;
  height: 1rem;
  margin: 0.3rem 0;
}

.bs-popover-left .arrow::before, .bs-popover-auto[x-placement^="left"] .arrow::before,
.bs-popover-left .arrow::after,
.bs-popover-auto[x-placement^="left"] .arrow::after {
  border-width: 0.5rem 0 0.5rem 0.5rem;
}

.bs-popover-left .arrow::before, .bs-popover-auto[x-placement^="left"] .arrow::before {
  right: 0;
  border-left-color: rgba(0, 0, 0, 0.25);
}


.bs-popover-left .arrow::after,
.bs-popover-auto[x-placement^="left"] .arrow::after {
  right: 1px;
  border-left-color: #fff;
}

.bs-popover-header {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  color: inherit;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.bs-popover-header:empty {
  display: none;
}

.bs-popover-body {
  padding: 0.5rem 0.75rem;
  color: #212529;
}

</style>
