<template>
    <div class="form-group" :class="[{'disabled': disabled},
                                     {'has-success': success}, 
                                     {'has-warning': warning}, 
                                     {'has-danger': danger}]">
        <label v-if="groupLabel != ''">
            {{ groupLabel }}
        </label>
        <div role="radiogroup" tabindex="-1">
            <radio v-for="(option, key) in options" :key="key" 
                   :id="name + '-radio-' + key"
                   :inline="inline" :disabled="isDisabled(disabled, option.disabled)"
                   :name="name" :label="option.label"
                   :checked="option.checked || false" :value="option.value" @change="onChange"
                   :success="success" :warning="warning" :danger="danger">
            </radio>
        </div>
        <div v-if="stateEnabled && success" class="form-control-feedback">{{ successMessage }}</div>
        <div v-if="stateEnabled && warning" class="form-control-feedback">{{ warningMessage }}</div>
        <div v-if="stateEnabled && danger" class="form-control-feedback">{{ dangerMessage }}</div>
        <small v-if="isDescription" :id="id + 'Help'"
               class="text-muted" :class="[{'form-text': !inlineDescription}]">
            {{ description }}
        </small>
    </div>
</template>

<script>
import inputMixin from '../mixins/input';
import Radio from './Radio.vue';

export default {
    name: "RadioGroup",
    components: {
        Radio
    },
    mixins: [inputMixin],
    props: {
        /**
         * A label for all radios contained in the group
         * @type {String}
         * @default ''
         */
        groupLabel: {
            type: String,
            default: ''
        },

        /**
         * Name the radio group
         * @type {String}
         */
        name: {
            type: String,
            required: true
        },

        /**
         * A list of radio controls to include
         * @property {Object} options
         * @property {String} options.label - the radio input label
         * @property {String} options.value - the value to return when selected
         * @property {Boolean} options.checked - indicate the radio should be selected initially
         * @property {Boolean} options.disabled - indicate the radio should be disabled
         */
        options: {
            type: Array,
            required: true
        },

        /**
         * Data binding. If an initial value is sent, it will be the default if no one selects anything. Be sure
         * to set the default option's checked property to `true` to show the user there is a default value.
         * @type {String}
         * @default ''
         */
        value: {
            type: String,
            default: ''
        }
    },
    data () {
        return {
            selectedValue: this.value
        };
    },
    methods: {
        onChange (val) {
            this.selectedValue = val;
            this.$emit('input', val);
        },

        /**
         * Disabled each radio by it's own option or via disabling the entire control set
         * @param {Boolean} component - disable the entire radio group
         * @param {Boolean} individual - disable via options for a specific radio input
         */
        isDisabled (component, individual) {
            return component === true || individual === true
                ? true
                : false;
        },

        /**
         * A function to reset the radios to no selection, emits an empty string to the v-model binding.
         */
        clear () {
            this.$children.forEach(radio => radio.clear());
            this.$emit('input', '');
        }
    }
};
</script>
