<template>
    <div class="form-check" :class="[{'disabled': disabled},
                                     {'form-check-inline': inline}]">
        <label class="custom-control custom-radio">
            <input type="radio" ref="radio" v-bind="$attrs"
                   :name="name" :value="value" :checked="isChecked" 
                   :disabled="disabled" @change="updated"
                   class="custom-control-input" :class="[{'form-control-success': success}, 
                                                         {'form-control-warning': warning}, 
                                                         {'form-control-danger': danger}]">
            {{ label }}
            <span class="custom-control-indicator"></span>
        </label>
    </div>
</template>

<script>
import inputMixin from '../mixins/input';

export default {
    name: "Radio",
    mixins: [inputMixin],
    inheritAttrs: false,
    model: {
        prop: "value",
        event: "change"
    },
    props: {
        label: {
            type: String,
            default: undefined
        },
        name: {
            type: String,
            required: true
        },
        value: {
            type: [String, Number, Boolean],
            required: true
        },
        checked: {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            isChecked: this.checked
        };
    },
    methods: {
        /**
         * Emits a change event if the radio is selected
         */
        updated () {
            if (this.isChecked === false) {
                this.isChecked = true;
            }
            this.$emit('change', this.value);
        },
        /**
         * Clear the select of it's checked state, emits an empty string to the v-model binding.
         */
        clear () {
            this.isChecked = false;
            this.$emit('change', '');
        }
    }

};
</script>

<style type="scss" scoped>

.form-check.form-check-inline {
    margin-bottom: 0 !important;
}

</style>
