<template>
    <header class="redbar" :class="background">
        <a href="http://www.arizona.edu" title="The Univerity of Arizona">
            <img alt="The University of Arizona" src="https://assets.cdn.fso.arizona.edu/ua_wordmark_line_logo_white_rgb.svg">
        </a>
    </header>
</template>

<script>
export default {
    name: "Redbar",
    props: {
        /**
         * Set the background css class
         * @prop {String} background
         */
        background: {
            type: String,
            default: 'bg-accent'
        }
    }
};
</script>

<style lang="scss" scoped>
// TODO: this can be removed with FSO Bootstrap 1.x
.bg-accent {
    background-color: #ab0520 !important;
}

.redbar {
    flex: none;
    padding: 0 10px;

    img {
        margin: 0.5rem auto;
        min-width: 250px;
        max-width: 300px;
        /* Fix for IE <= 11 on Windows 8 or older */
        max-height: 22px;
    }
}
</style>
