<template>
    <label class="btn" :class="[isOutline + type, btnSize, {'active': isChecked}]">
        <input type="radio" 
               :name="name" :value="value" :checked="isChecked"
               :disabled="disabled" @change="updated">
        <span class="mx-auto">{{ label }}</span>
    </label>
</template>

<script>
export default {
    name: "SegmentedToggleOption",
    model: {
        prop: "value",
        event: "change"
    },
    props: {
        /**
         * Set the label
         * @prop {String}
         */
        label: {
            type: String,
            default: undefined
        },

        /**
         * Set the button type
         * @prop {String}
         */
        type: {
            type: String,
            default: 'secondary',
            validator: function (value) {
                return [
                    'secondary',
                    'success',
                    'warning',
                    'danger',
                    'info',
                    'primary',
                    'uared'
                ].indexOf(value) > -1;
            }
        },

        /**
         * Toggle outline mode
         * * @prop {Boolean}
         */
        outline: {
            type: Boolean,
            default: false
        },

        /**
         * Set the size
         * @prop {String}
         */
        size: {
            type: String,
            default: 'normal',
            validator: function (value) {
                return [
                    'large',
                    'normal',
                    'small'
                ].indexOf(value) > -1;
            }
        },

        /**
         * Group radio buttons together as one
         * @prop {String}
         */
        name: {
            type: String,
            required: true
        },

        /**
         * Disable the control
         * * @prop {Boolean}
         */
        disabled: {
            type: Boolean,
            default: false
        },

        /**
         * Set the initial state
         * * @prop {Boolean}
         */
        checked: {
            type: Boolean,
            default: false
        },

        /**
         * The value to return when it is selected
         * @prop {String}
         */
        value: {
            type: [String, Number, Boolean],
            required: true
        }
    },
    data () {
        return {
            isChecked: this.checked
        };
    },
    computed: {
        isOutline: function () {
            if (this.outline === true) {
                return 'btn-outline-';
            } else {
                return 'btn-';
            }
        },
        btnSize: function () {
            if (this.size === 'large') {
                return 'btn-lg';
            } else if (this.size === 'small') {
                return 'btn-sm';
            } else {
                return '';
            }
        }
    },
    methods: {
        updated () {
            if (this.isChecked === false) {
                this.isChecked = true;
            }
            this.$emit('change', this.value);
        },

        /**
         * Allow to be set unchecked via code.
         */
        setUnChecked () {
            this.isChecked = false;
        },

        /**
         * Allow to be checked via code.
         */
        setChecked () {
            this.isChecked = true;
            this.updated();
        }
    }
};
</script>
