<template>
    <div role="radiogroup" tabindex="-1" 
         class="btn-group btn-toggle-group"
         :class="[btnSize, { 'btn-group-vertical': vertical }, { 'full-width': fullWidth }]"
         :aria-label="assistiveLabel">
        <label v-if="groupLabel != ''">
            {{ groupLabel }}
        </label>
        <segmented-toggle-option v-for="(option, key) in options" :key="key" 
                                 :type="type" :outline="outline" :disabled="isDisabled(disabled, option.disabled)"
                                 :name="name" :label="option.label" 
                                 :value="option.value" :checked="option.checked || false" @change="onSelected">
        </segmented-toggle-option>
    </div>
</template>

<script>
import CommandGroup from './CommandGroup.vue';
import SegmentedToggleOption from './SegmentedToggleOption.vue';

// TODO: - allow to take up full width like a block-style button
//       - when we have bootstrap v4.x, redo to work like: https://github.com/twbs/bootstrap/issues/23728 instead of class defined locally
//       - allow writing each `segmented-toggle-option` manually in the html?
export default {
    name: "SegmentedToggle",
    components: {
        SegmentedToggleOption
    },
    extends: CommandGroup,
    props: {
        /**
         * A label for all radios contained in the group
         */
        groupLabel: {
            type: String,
            default: ''
        },

        /**
         * Name the radio group
         */
        name: {
            type: String,
            required: true
        },

        /**
         * A list of radio controls to include
         */
        options: {
            type: Array,
            required: true
        },

        /**
         * Data binding. If an initial value is sent, it will be the default if no one selects anything. Be sure
         * to set the default option's checked property to `true` to show the user there is a default value.
         */
        value: {
            type: String,
            default: ''
        },

        type: {
            type: String,
            default: 'secondary',
            validator: function (value) {
                return [
                    'secondary',
                    'success',
                    'warning',
                    'danger',
                    'info',
                    'primary',
                    'uared'
                ].indexOf(value) > -1;
            }
        },

        outline: {
            type: Boolean,
            default: false
        },

        disabled: {
            type: Boolean,
            default: false
        },

        /**
         * Make the control take up it's full width rather than fit to its content
         */
        fullWidth: {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            selectedValue: this.value
        };
    },
    methods: {
        onSelected (val) {
            this.selectedValue = val;
            this.$emit('input', this.selectedValue);
            // Uncheck all other inputs
            this.$children.forEach(toggle => {
                if (toggle._props.value !== val && toggle.isChecked === true) {
                    toggle.setUnChecked();
                }
            });
        },

        /**
         * Disabled each radio by it's own option or via disabling the entire control set
         * @param {Boolean} component - disable the entire radio group
         * @param {Boolean} individual - disable via options for a specific radio input
         */
        isDisabled (component, individual) {
            return component === true || individual === true
                ? true
                : false;
        },

        /**
         * Allow setting to it's original value (what was sent as the `value` property) externally via code.
         */
        setToDefault () {
            this.setTo(this.value);
        },

        /**
         * Allow setting to a value externally via code.
         */
        setTo (val) {
            // TODO: this could be a promise. It checks the options first, then returns 'that doesn't exist' 
            // if its bad, allowing for error handling?
            this.$children.forEach(toggle => {
                if (toggle._props.value === val && toggle.isChecked !== true) {
                    toggle.setChecked();
                }
            });
        }
    }
};
</script>

<style lang="scss">

.btn-toggle-group {
    > .btn,
    > .btn-group > .btn {
        margin-bottom: 0; // Override default `<label>` value

        input[type="radio"],
        input[type="checkbox"] {
            position: absolute;
            clip: rect(0, 0, 0, 0);
            pointer-events: none;
        }
    }
}

.full-width {
    display: flex;

    .btn {
        display: flex;
        flex: auto;
    }
}

</style>
