<template>
    <div class="form-group" :class="[{'has-success': success}, 
                                     {'has-warning': warning}, 
                                     {'has-danger': danger},
                                     {'row': inline}]">
        <label v-if="isLabel" :for="id" 
               :class="[{'col-sm-2 col-form-label': inline}]"
               :aria-label="id">
            {{ label }}
        </label>
        <div :class="[{'col-sm-10': inline}]">
            <vue-multiselect :id="id" :class="[{'multiselect--success': danger},
                                               {'multiselect--warning': warning}, 
                                               {'multiselect--danger': danger}]"
                             :value="selectedValue" @input="updateValue"
                             :options="options" :placeholder="placeholder"
                             :show-labels="false" :disabled="disabled"
                             :label="selectionLabel" :track-by="returnValue"
                             v-bind="$attrs">
            </vue-multiselect>
            <!-- States and Description -->
            <div v-if="stateEnabled && success && !disabled" 
                 class="form-control-feedback">
                {{ successMessage }}
            </div>
            <div v-if="stateEnabled && warning && !disabled"
                 class="form-control-feedback">
                {{ warningMessage }}
            </div>
            <div v-if="stateEnabled && danger && !disabled" 
                 class="form-control-feedback">
                {{ dangerMessage }}
            </div>
            <small v-if="isDescription" :id="id + 'Help'"
                   class="text-muted" :class="[{'form-text': !inlineDescription}]">
                {{ description }}
            </small>
        </div>
    </div>
</template>

<script>
import VueMultiselect from 'vue-multiselect';
import { InputMixin } from '../mixins';

export default {
    name: 'SelectSingle',
    components: {
        VueMultiselect
    },
    mixins: [InputMixin],
    inheritAttrs: false,
    props: {
        /**
         * An identifier for template handling
         * @prop {String}
         */
        id: {
            type: String,
            required: true
        },

        /**
         * Presets the selected value
         * @prop {String}
         */
        value: {
            type: String,
            default: ''
        },

        /**
         * Placeholder text for no input
         * @prop {String}
         */
        placeholder: {
            type: String,
            default: 'Select an option...'
        },

        /**
         * An array of objects
         * @prop {Array}
         */
        options: {
            type: Array,
            required: true
        },

        /**
         * The value to return from the options object
         * @prop {String}
         */
        returnValue: {
            type: String,
            default: "value"
        },

        /**
         * The value to show in the options selection and when an item is selected
         * @prop {String}
         */
        selectionLabel: {
            type: String,
            default: "text"
        }
    },
    computed: {
        selectedValue () {
            return this.options.find(o => o[this.returnValue] === this.value);
        }
    },
    methods: {
        updateValue (result) {
            if (result) {
                this.$emit('input', result[this.returnValue]);
            } else {
                // The selection has been de-selected (i.e., no selection)
                this.$emit('input', '');
            }
        }
    }
};
</script>

<style lang="scss">
// Multiselect theme for bootstrap, based on: https://github.com/shentao/vue-multiselect/pull/726, which
// was built for bootstrap 4.1. This has been modified to work with alpha and should be updated when
// fso-bootstrap is fully updated to 4.x.

@import "node_modules/bootstrap/scss/_custom";
@import "node_modules/bootstrap/scss/_mixins";

$vue-multiselect-padding-x : $custom-select-padding-x !default;
$vue-multiselect-padding-y : $custom-select-padding-y !default;
$vue-multiselect-min-height : calc(#{$input-height} + 2px) !default;
$vue-multiselect-line-height : 1.5 !default;
$vue-multiselect-border-radius : $custom-select-border-radius !default;
$vue-multiselect-border-color : $custom-select-border-color !default;
$vue-multiselect-border-width : 1px !default;
$vue-multiselect-disabled-opacity : .65 !default;
$vue-multiselect-placeholder-color : $text-muted !default;
$vue-multiselect-bg : $custom-select-bg !default;
$vue-multiselect-color : $custom-select-color !default;
$vue-multiselect-disabled-bg : $custom-select-disabled-bg !default;
$vue-multiselect-disabled-color : $custom-select-disabled-color !default;

$vue-multiselect-option-selected-bg : $gray-lightest !default;
$vue-multiselect-option-selected-color : $body-color !default;
$vue-multiselect-option-highlight-color : #fff !default;
$vue-multiselect-option-highlight-bg : $brand-primary !default;
$vue-multiselect-option-selected-color-status-text: $gray-light !default;
$vue-multiselect-option-selected-highlight-color : #fff !default;
$vue-multiselect-option-selected-highlight-bg : $gray-light !default;

$vue-multiselect-tag-color : $white !default;
$vue-multiselect-tag-bg : $brand-primary !default;
$vue-multiselect-tag-font-size : 80% !default;
$vue-multiselect-tag-font-weight : normal !default;
$vue-multiselect-tag-icon-size : 1.6rem !default;
$vue-multiselect-tag-icon-color : $vue-multiselect-tag-color !default;
$vue-multiselect-tag-icon-color-hover : white !default;
$vue-multiselect-tag-icon-bg-hover : lighten($brand-primary, 10%) !default;
$vue-multiselect-tag-padding-x : .4rem !default;
$vue-multiselect-tag-padding-y : .25rem !default;
$vue-multiselect-tag-border-radius : $border-radius !default;

$vue-multiselect-arrow-color : $custom-select-color !default;
$vue-multiselect-arrow-size : 5px !default;
$vue-multiselect-arrow-padding : 8px !default;

$vue-multiselect-spinner-size : 16px !default;
$vue-multiselect-spinner-thickness : 2px !default;
$vue-multiselect-spinner-margin : -$vue-multiselect-spinner-size/2 !default;
$vue-multiselect-spinner-color : $gray-dark !default;

// Set an elipsis on the single select so that there is no overflow
.multiselect__single {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// --------------------------------
// Select field
// --------------------------------

fieldset[disabled] .multiselect {
    pointer-events : none;
}

.multiselect,
.multiselect__input,
.multiselect__single {
    font-family  : inherit;
    font-size    : inherit;
    touch-action : manipulation;
}

.multiselect {
    box-sizing : content-box;
    display    : block;
    position   : relative;
    width      : 100%;
    min-height : $vue-multiselect-min-height;
    text-align : left;
    line-height: $vue-multiselect-line-height;
    color      : $vue-multiselect-color;

    & * {
        box-sizing : border-box;
    }

    &:focus {
        outline: none;
    }
}

.multiselect--disabled {
    pointer-events : none;
    opacity        : $vue-multiselect-disabled-opacity;
}

.multiselect--active {
    z-index : 50;

    &:not(.multiselect--above) .multiselect__current,
    &:not(.multiselect--above) .multiselect__input,
    &:not(.multiselect--above) .multiselect__tags {
        border-bottom-left-radius  : 0;
        border-bottom-right-radius : 0;
    }

    & .multiselect__select {
        transform : rotateZ(180deg);
    }

    .multiselect__tags,
    .multiselect__content-wrapper {
        border-color: $brand-primary;
    }

    .multiselect__tags {
        border-bottom-color: $vue-multiselect-border-color;
    }
}

.multiselect--above.multiselect--active .multiselect__current,
.multiselect--above.multiselect--active .multiselect__input,
.multiselect--above.multiselect--active .multiselect__tags {
    border-top-left-radius  : 0;
    border-top-right-radius : 0;
}

.multiselect__input,
.multiselect__single {
    position       : relative;
    display        : inline-block;
    min-height     : $vue-multiselect-min-height / 2;
    line-height    : $vue-multiselect-min-height / 2;
    border         : none;
    border-radius  : $vue-multiselect-border-radius;
    background     : $vue-multiselect-bg;
    padding        : 0 0 0 $vue-multiselect-padding-x;
    width          : calc(100%);
    transition     : border 0.1s ease;
    box-sizing     : border-box;
    margin-bottom  : $vue-multiselect-padding-y;
    vertical-align : top;
}

.multiselect__input::placeholder {
    color : $vue-multiselect-placeholder-color;
}

.multiselect__tag ~ .multiselect__input,
.multiselect__tag ~ .multiselect__single {
    width : auto;
}

.multiselect__input:hover,
.multiselect__single:hover {
    border-color : #cfcfcf;
}

.multiselect__input:focus,
.multiselect__single:focus {
    border-color : #a8a8a8;
    outline      : none;
}

.multiselect__single {
    padding-left  : 0.3rem !important;
    margin-bottom : $vue-multiselect-padding-y;
    color         : inherit;
}

.multiselect__input {
    padding-left  : 0.3rem !important;
}

.multiselect__tags-wrap {
    display : inline
}

.multiselect__tags {
    min-height    : $vue-multiselect-min-height;
    display       : block;
    padding       : $vue-multiselect-padding-y $vue-multiselect-min-height 0 $vue-multiselect-padding-y;
    border-radius : $vue-multiselect-border-radius;
    border        : $vue-multiselect-border-width solid $vue-multiselect-border-color;
    background    : $vue-multiselect-bg;
    font-family   : inherit;
    font-size     : inherit;
}

.multiselect__tag {
    position      : relative;
    display       : inline-block;
    padding       : $vue-multiselect-tag-padding-y ($vue-multiselect-tag-icon-size + $vue-multiselect-tag-padding-x) $vue-multiselect-tag-padding-y $vue-multiselect-tag-padding-x;
    border-radius : $vue-multiselect-tag-border-radius;
    margin-right  : $vue-multiselect-tag-padding-x;
    color         : $vue-multiselect-tag-color;
    background    : $vue-multiselect-tag-bg;
    white-space   : nowrap;
    overflow      : hidden;
    max-width     : 100%;
    text-overflow : ellipsis;
    font-size     : $vue-multiselect-tag-font-size;
    font-weight   : $vue-multiselect-tag-font-weight;
}

.multiselect__tag-icon {
    cursor      : pointer;
    margin-left : $vue-multiselect-tag-padding-y;
    position    : absolute;
    right       : 0;
    top         : 0;
    bottom      : 0;
    font-style  : initial;
    width       : $vue-multiselect-tag-icon-size;
    text-align  : center;
    line-height : $vue-multiselect-tag-icon-size;
    transition  : all 0.2s ease;
    font-size   : $vue-multiselect-tag-font-size;
    font-weight : $vue-multiselect-tag-font-weight;
}

.multiselect__tag-icon:after {
    content   : "×";
    color     : $vue-multiselect-tag-icon-color;
    font-size : 220%;
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
    background : $vue-multiselect-tag-icon-bg-hover;
}

.multiselect__tag-icon:focus:after,
.multiselect__tag-icon:hover:after {
    color : $vue-multiselect-tag-icon-color-hover;
}

.multiselect__current {
    line-height     : $vue-multiselect-min-height / 2;
    min-height      : $vue-multiselect-min-height;
    box-sizing      : border-box;
    display         : block;
    overflow        : hidden;
    padding         : 8px 30px 0 12px;
    white-space     : nowrap;
    margin          : 0;
    text-decoration : none;
    border-radius   : $vue-multiselect-border-radius;
    border          : 1px solid $vue-multiselect-border-color;
    cursor          : pointer;
}

.multiselect__select {
    line-height     : $vue-multiselect-min-height / 2;
    display         : block;
    position        : absolute;
    box-sizing      : border-box;
    width           : $vue-multiselect-min-height;
    height          : $vue-multiselect-min-height;
    right           : 0;
    top             : 0;
    padding         : ($vue-multiselect-arrow-padding) $vue-multiselect-arrow-padding;
    margin          : 0;
    text-decoration : none;
    text-align      : center;
    cursor          : pointer;
    transition      : transform 0.2s ease;
}

.multiselect__select:before {
    position     : relative;
    right        : 0;
    top          : 50%;
    color        : $vue-multiselect-arrow-color;
    border-style : solid;
    border-width : $vue-multiselect-arrow-size $vue-multiselect-arrow-size 0 $vue-multiselect-arrow-size;
    border-color : $vue-multiselect-arrow-color transparent transparent transparent;
    content      : "";
}

.multiselect__placeholder {
    color         : $vue-multiselect-placeholder-color;
    display       : inline-block;
    // margin-bottom : 8px;
    padding-top   : 2px;
    padding-left  : 0.3em;
}

.multiselect--active .multiselect__placeholder {
    display : none;
}

.multiselect__content-wrapper {
    position                   : absolute;
    display                    : block;
    background                 : $vue-multiselect-bg;
    width                      : 100%;
    max-height                 : 240px;
    overflow                   : auto;
    border                     : $vue-multiselect-border-width solid $vue-multiselect-border-color;
    border-top                 : none;
    border-bottom-left-radius  : $vue-multiselect-border-radius;
    border-bottom-right-radius : $vue-multiselect-border-radius;
    z-index                    : 50;
    -webkit-overflow-scrolling : touch;
}

.multiselect__content {
    list-style     : none;
    display        : inline-block;
    padding        : 0;
    margin         : 0;
    min-width      : 100%;
    vertical-align : top;
}

.multiselect--above .multiselect__content-wrapper {
    bottom        : 100%;
    border-radius : $vue-multiselect-border-radius $vue-multiselect-border-radius 0 0;
    border-bottom : none;
    border-top    : $vue-multiselect-border-width solid $vue-multiselect-border-color;
}

.multiselect__content::webkit-scrollbar {
    display : none;
}

.multiselect__element {
    display : block;
}

.multiselect__option {
    display         : block;
    padding         : $vue-multiselect-padding-y $vue-multiselect-padding-x;
    min-height      : $vue-multiselect-min-height;
    line-height     : $vue-multiselect-min-height / 2;
    text-decoration : none;
    text-transform  : none;
    vertical-align  : middle;
    position        : relative;
    cursor          : pointer;
    white-space     : nowrap;
}

.multiselect__option:after {
    top           : 0;
    right         : 0;
    position      : absolute;
    line-height   : $vue-multiselect-min-height;
    padding-right : 12px;
    padding-left  : 20px;
    font-family   : inherit;
    font-size     : inherit;
}

.multiselect__option--highlight {
    background : $vue-multiselect-option-highlight-bg;
    outline    : none;
    color      : $vue-multiselect-option-highlight-color;
}

.multiselect__option--highlight:after {
    content    : attr(data-select);
    background : $vue-multiselect-option-highlight-bg;
    color      : $vue-multiselect-option-highlight-color;
}

.multiselect__option--selected {
    background  : $vue-multiselect-option-selected-bg;
    color       : $vue-multiselect-option-selected-color;
    font-weight : bold;
}

.multiselect__option--selected:after {
    content : attr(data-selected);
    color   : $vue-multiselect-option-selected-color-status-text;
}

.multiselect__option--selected.multiselect__option--highlight {
    background : $vue-multiselect-option-selected-highlight-bg;
    color      : $vue-multiselect-option-selected-highlight-color;
}

.multiselect__option--selected.multiselect__option--highlight:after {
    background : $vue-multiselect-option-selected-highlight-bg;
    content    : attr(data-deselect);
    color      : $vue-multiselect-option-selected-highlight-color;
}

.multiselect--disabled {
    background     : $vue-multiselect-disabled-bg;
    pointer-events : none;
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
    background : $vue-multiselect-disabled-bg;
    color      : $vue-multiselect-disabled-color;
}

.multiselect__option--disabled {
    background     : $vue-multiselect-disabled-bg;
    color          : $vue-multiselect-disabled-color;
    cursor         : text;
    pointer-events : none;
}

.multiselect__option--group {
    background : $vue-multiselect-disabled-bg;
    color      : $vue-multiselect-disabled-color;

    &.multiselect__option--highlight {
        background : $vue-multiselect-disabled-color;
        color      : $vue-multiselect-disabled-bg;
    }

    &.multiselect__option--highlight:after {
        background : $vue-multiselect-disabled-color;
    }
}

.multiselect__option--disabled.multiselect__option--highlight {
    background : $vue-multiselect-disabled-bg;
}

.multiselect__option--group-selected.multiselect__option--highlight {
    background : $vue-multiselect-option-selected-highlight-bg;
    color      : $vue-multiselect-option-selected-highlight-color;
}

.multiselect__option--group-selected.multiselect__option--highlight:after {
    background : $vue-multiselect-option-selected-highlight-bg;
    content    : attr(data-deselect);
    color      : $vue-multiselect-option-selected-highlight-color;
}

.multiselect-enter-active,
.multiselect-leave-active {
    transition : all 0.15s ease;
}

.multiselect-enter,
.multiselect-leave-active {
    opacity : 0;
}

.multiselect__strong {
    margin-bottom  : $vue-multiselect-padding-y;
    line-height    : $vue-multiselect-min-height/2;
    display        : inline-block;
    vertical-align : top;
}

// --------------------------------
// Spinner
// --------------------------------

.multiselect__spinner {
    position   : absolute;
    right      : 0;
    top        : 0;
    width      : $vue-multiselect-min-height;
    height     : $vue-multiselect-min-height;
    background : $vue-multiselect-bg;
    display    : block;

    &:before,
    &:after {
        position         : absolute;
        content          : "";
        top              : 50%;
        left             : 50%;
        margin           : $vue-multiselect-spinner-margin 0 0 $vue-multiselect-spinner-margin;
        width            : $vue-multiselect-spinner-size;
        height           : $vue-multiselect-spinner-size;
        border-radius    : 100%;
        border           : $vue-multiselect-spinner-thickness solid transparent;
        border-top-color : $vue-multiselect-spinner-color;
        box-shadow       : 0 0 0 1px transparent;
    }

    &:before {
        animation                 : spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
        animation-iteration-count : infinite;
    }

    &:after {
        animation                 : spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
        animation-iteration-count : infinite;
    }
}

@keyframes spinning {
    from {
        transform : rotate(0)
    }
    to {
        transform : rotate(2turn)
    }
}

// --------------------------------
// Loading state
// --------------------------------

.multiselect__loading-enter-active,
.multiselect__loading-leave-active {
    transition : opacity 0.4s ease-in-out;
    opacity    : 1;
}

.multiselect__loading-enter,
.multiselect__loading-leave-active {
    opacity : 0;
}

// --------------------------------
// RTL adjustments
// --------------------------------

*[dir="rtl"] {
    .multiselect {
        text-align : right;
    }
    .multiselect__select {
        right : auto;
        left  : 1px;
    }
    .multiselect__tags {
        padding : $vue-multiselect-padding-y $vue-multiselect-padding-y 0 $vue-multiselect-min-height;
    }
    .multiselect__content {
        text-align : right;
    }
    .multiselect__option:after {
        right : auto;
        left  : 0;
    }
    .multiselect__clear {
        right : auto;
        left  : 12px;
    }
    .multiselect__spinner {
        right : auto;
        left  : 1px;
    }
}

// --------------------------------
// Validation states
// --------------------------------

.multiselect--success {
    .multiselect__tags {
        border-color: $brand-success;
    }
}

.multiselect--warning {
    .multiselect__tags {
        border-color: $brand-warning;
    }
}

.multiselect--danger {
    .multiselect__tags {
        border-color: $brand-danger;
    }
}
</style>
