<template>
    <div class="form-group" :class="[{'has-success': success}, 
                                     {'has-warning': warning}, 
                                     {'has-danger': danger},
                                     {'row': inline}]">
        <label v-if="isLabel" :for="id" 
               :class="[{'col-sm-2 col-form-label': inline}]"
               :aria-label="id">
            {{ label }}
        </label>
        <div :class="[{'col-sm-10': inline}]">
            <vue-multiselect :id="id" :class="[{'multiselect--success': danger},
                                               {'multiselect--warning': warning}, 
                                               {'multiselect--danger': danger}]"
                             multiple :value="selectedValues" @input="updateValue"
                             :options="options" :placeholder="placeholder"
                             :show-labels="false" :disabled="disabled"
                             :label="selectionLabel" :track-by="returnValue"
                             v-bind="$attrs">
            </vue-multiselect>
            <!-- States and Description -->
            <div v-if="stateEnabled && success && !disabled" 
                 class="form-control-feedback">
                {{ successMessage }}
            </div>
            <div v-if="stateEnabled && warning && !disabled"
                 class="form-control-feedback">
                {{ warningMessage }}
            </div>
            <div v-if="stateEnabled && danger && !disabled" 
                 class="form-control-feedback">
                {{ dangerMessage }}
            </div>
            <small v-if="isDescription" :id="id + 'Help'"
                   class="text-muted" :class="[{'form-text': !inlineDescription}]">
                {{ description }}
            </small>
        </div>
    </div>
</template>

<script>
// NOTE: Styles are located in SelectSingle.vue, and should be moved externally at some point!

import VueMultiselect from 'vue-multiselect';
import { InputMixin } from '../mixins';

export default {
    name: 'SelectMultiple',
    components: {
        VueMultiselect
    },
    mixins: [InputMixin],
    inheritAttrs: false,
    props: {
        /**
         * An identifier for template handling
         * @prop {String}
         */
        id: {
            type: String,
            required: true
        },

        /**
         * Presets the selected value
         * @prop {Array}
         */
        value: {
            type: Array,
            default: () => []
        },

        /**
         * Placeholder text for no input
         * @prop {String}
         */
        placeholder: {
            type: String,
            default: 'Select an option...'
        },

        /**
         * An array of objects
         * @prop {Array}
         */
        options: {
            type: Array,
            required: true
        },

        /**
         * The value to return from the options object (sets "track-by" on vue-multiselect)
         * @prop {String}
         */
        returnValue: {
            type: String,
            default: "value"
        },

        /**
         * The value to show in the options selection and when an item is selected (sets "label" on vue-multiselect)
         * @prop {String}
         */
        selectionLabel: {
            type: String,
            default: "text"
        }
    },
    computed: {
        selectedValues () {
            let values = [];
            this.options.forEach(o => {
                if (this.value.includes(o[this.returnValue])) {
                    values.push(o);
                }
            });
            return values;
        }
    },
    methods: {
        updateValue (value) {
            let arrayOfStrings = value.map(v => {
                return v[this.returnValue];
            });
            this.$emit('input', arrayOfStrings);
        }
    }
};
</script>
