<template>
    <div class="form-group" :class="[{'has-success': success}, 
                                     {'has-warning': warning}, 
                                     {'has-danger': danger},
                                     {'row': inline}]">
        <label v-if="isLabel" :for="id"
               :class="[{'col-sm-2 col-form-label': inline}]"
               :aria-label="id">
            {{ label }}
        </label>
        <div :class="[{'col-sm-10': inline}]">
            <div class="input-group">
                <span v-if="addonVisibility.start" class="input-group-addon">
                    <slot name="addon-start"></slot>
                </span>
                <input :type="type" class="form-control" :disabled="disabled"
                       :class="[{'form-control-sm': size === 'small'},
                                {'form-control-lg': size === 'large'},
                                {'form-control-success': success}, 
                                {'form-control-warning': warning}, 
                                {'form-control-danger': danger}]"
                       :id="id" :aria-describedby="id + 'Help'" ref="input"
                       :value="value" @input="onInput" v-bind="$attrs"
                       :placeholder="placeholder" :autocomplete="isAutocomplete">
                <span v-if="addonVisibility.end" class="input-group-addon">
                    <slot name="addon-end"></slot>
                </span>
            </div>
            <!-- States -->
            <div v-if="stateEnabled && success && !disabled" 
                 class="form-control-feedback">
                {{ successMessage }}
            </div>
            <div v-if="stateEnabled && warning && !disabled" 
                 class="form-control-feedback">
                {{ warningMessage }}
            </div>
            <div v-if="stateEnabled && danger && !disabled" 
                 class="form-control-feedback">
                {{ dangerMessage }}
            </div>
            <!-- Description -->
            <small v-if="isDescription" :id="id + 'Help'"
                   class="text-muted" :class="[{'form-text': !inlineDescription}]">
                {{ description }}
            </small>
        </div>
    </div>
</template>

<script>
import inputMixin from '../mixins/input';
import inputAddonMixin from '../mixins/inputAddon';

export default {
    name: "TextBox",
    mixins: [inputMixin, inputAddonMixin],
    inheritAttrs: false,
    props: {
        id: {
            type: String,
            required: true
        },
        value: {
            type: [String, Number],
            default: ''
        },
        type: {
            type: String,
            default: 'text',
            validator: function (value) {
                return [
                    'text',
                    'password',
                    'datetime-local',
                    'date',
                    'month',
                    'time',
                    'week',
                    'number',
                    'email',
                    'url',
                    'search',
                    'tel',
                    'color'
                ].indexOf(value) > -1;
            }
        }
    },
    methods: {
        onInput (event) {
            this.$emit('input', event.target.value);
        }
    }
};
</script>
