<template>
    <div class="form-group" :class="[{'has-success': success}, 
                                     {'has-warning': warning}, 
                                     {'has-danger': danger},
                                     {'row': inline}]">
        <label v-if="isLabel" :for="id"
               :class="[{'col-sm-2 col-form-label': inline}]"
               :aria-label="id">
            {{ label }}
        </label>
        <div :class="[{'col-sm-10': inline}]">
            <textarea class="form-control" :disabled="disabled"
                      :class="[{'form-control-success': success}, 
                               {'form-control-warning': warning}, 
                               {'form-control-danger': danger}]"
                      :id="id" :aria-describedby="id + 'Help'" ref="input" v-bind="$attrs"
                      :value="value" @input="updateValue($event.target.value)" 
                      :placeholder="placeholder" :autocomplete="autocomplete">
            </textarea>
            <!-- States and Description -->
            <div v-if="stateEnabled && success && !disabled" 
                 class="form-control-feedback">
                {{ successMessage }}
            </div>
            <div v-if="stateEnabled && warning && !disabled" 
                 class="form-control-feedback">
                {{ warningMessage }}
            </div>
            <div v-if="stateEnabled && danger && !disabled" 
                 class="form-control-feedback">
                {{ dangerMessage }}
            </div>
            <small v-if="isDescription" :id="id + 'Help'"
                   class="text-muted" :class="[{'form-text': !inlineDescription}]">
                {{ description }}
            </small>
        </div>
    </div>
</template>

<script>
import inputMixin from '../mixins/input';

export default {
    name: "TextView",
    mixins: [inputMixin],
    inheritAttrs: false,
    props: {
        id: {
            type: String,
            required: true
        },
        value: {
            type: String,
            default: ''
        }
    },
    methods: {
        updateValue: function (val) {
            this.$refs.input.value = val;
            this.$emit('input', val);
        }
    }
};
</script>
