<template>
    <div class="toast" @click="handleClick" :class="[ 'toast-' + type]"
         :id="'#' + id" role="alert">
        <div slot="content">
            <!-- If content is supplied as an html string, render it. -->
            <div v-if="content !== undefined" v-html="content"></div>
            <!-- Otherwise, render title and message. -->
            <div v-else class="toast-content">
                <h5 class="mb-0">{{ title }}</h5>
                <p class="mb-0">{{ message }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Toast",
    props: {
        id: {
            type: String,
            required: true
        },
        type: {
            type: String,
            default: 'secondary',
            validator: function (value) {
                return [
                    'success',
                    'warning',
                    'danger',
                    'info',
                    'secondary',
                    'primary',
                    'uared'
                ].indexOf(value) > -1;
            }
        },
        content: {
            type: String,
            default: undefined
        },
        title: {
            type: String,
            default: ''
        },
        message: {
            type: String,
            default: ''
        }
    },
    methods: {
        handleClick () {
            this.$emit('toastClicked');
        }
    }
};
</script>

<style lang="scss">
/* Customized Alert styles */
@import "node_modules/bootstrap/scss/_custom.scss";
@import "node_modules/bootstrap/scss/_mixins.scss";
@import "node_modules/bootstrap/scss/_alert.scss";

.toast {
    width: 100%;
    padding: $alert-padding-y $alert-padding-x;
    margin-bottom: $alert-margin-bottom;
    border: $alert-border-width solid transparent;
    @include border-radius($alert-border-radius);
}

$alert-secondary-bg:           $white !default;
$alert-secondary-text:         $gray-dark !default;
$alert-secondary-border:       #ccc !default;

$alert-primary-bg:             $brand-primary !default;
$alert-primary-text:           $white !default;
$alert-primary-border:         $brand-primary !default;

$alert-uared-bg:               $uared !default;
$alert-uared-text:             $white !default;
$alert-uared-border:           $uared !default;

// Non-bootstrap alert styles
.toast-secondary {
    @include alert-variant($alert-secondary-bg, $alert-secondary-border, $alert-secondary-text)
}

.toast-primary {
    @include alert-variant($alert-primary-bg, $alert-primary-border, $alert-primary-text)
}

.toast-uared {
    @include alert-variant($alert-uared-bg, $alert-uared-border, $alert-uared-text)
}

.toast-success {
    @include alert-variant($brand-success, $brand-success, $white)
}

.toast-info {
    @include alert-variant($brand-info, $brand-info, $white)
}

.toast-warning {
    @include alert-variant($brand-warning, $brand-warning, $white)
}

.toast-danger {
    @include alert-variant($brand-danger, $brand-danger, $white)
}
</style>
