<template>
    <div class="toolbar" role="toolbar">
        <div class="primary">
            <slot name="primary"></slot>
        </div>
        <div class="secondary">
            <slot name="secondary"></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Toolbar',
    props: {
        disableCollapse: {
            type: Boolean,
            default: false
        },
        primaryBreakpoint: {
            type: Number,
            default: 600
        },
        secondaryBreakpoint: {
            type: Number,
            default: 800
        }
    },
    data () {
        return {
            // Reference data properties
            style: null,
            styleRef: null
        };
    },
    computed: {
        css () {
            if (!this.disableCollapse) {
                return `
                    @media screen and (max-width: ${this.primaryBreakpoint}px) { ${this.collapseStyle('primary')} }
                    @media screen and (max-width: ${this.secondaryBreakpoint}px) { ${this.collapseStyle('secondary')} }
                `;
            }
            return '';
        },
    },
    watch: {
        css () {
            // On css value change update style content
            this.style.textContent = this.css;
        }
    },
    mounted () {
        // Create style node
        let style = document.createElement('style');
        style.type = "text/css";
        style.appendChild(document.createTextNode(''));

        // Assign references on vm
        this.styleRef = style;
        this.style = style.childNodes[0];

        // Assign css the the style node
        this.style.textContent = this.css;

        // Append to the head
        document.head.appendChild(style);
    },
    beforeDestroy () {
        // Remove the style node from the head
        this.style.parentElement.removeChild(this.style);
    },
    methods: {
        collapseStyle (selector) {
            return `
                .${selector} .btn i { margin-right: 0px !important; }
                .${selector} .btn-group .btn i { margin-right: 0px !important; }
                .${selector} .btn .btn-label { display: none; }
                .${selector} .btn-group .btn .btn-label { display: none; }
            `;
        }
    }
};
</script>

<style lang="scss" scoped>

@import "node_modules/bootstrap/scss/_custom.scss";

.toolbar {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;

    // Give each section a bottom margin so that they look nice while collapsed
    .primary, .secondary {
        display: flex;
        margin-bottom: 0.25em;
    }

    // Make form and input groups work in toolbar
    .form-group,
    .input-group {
        display: inline-flex;
        margin-bottom: 0;
        width: auto;
    }

    /* 
     * Add default spacing between items 
     */
    .btn,
    .btn-group,
    .form-group,
    .input-group {
        margin-left: 0.125em;
        margin-right: 0.125em;

        // Buttons inside button groups shouldn't have extra margin
        .btn {
            margin: 0;
        }

        // First and last elements shouldn't have outside margins
        &:first-child {
            margin-left: 0px;
            margin-right: 0.125em;
        }

        &:last-child {
            margin-left: 0.125em;
            margin-right: 0px;
        }
    }
}

</style>
